<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <welcome-file-list>
        <welcome-file>views/auth/login.jsp</welcome-file>
    </welcome-file-list>

    <!-- Servlet Definition for AuthServlet -->
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>org.aicha.servlet.AuthServlet</servlet-class>
    </servlet>

    <!-- Servlet Mapping for AuthServlet -->
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>

    <!-- Other Servlet Definitions -->
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>org.aicha.servlet.UserServlet</servlet-class>
    </servlet>

    <!-- Servlet Mapping for UserServlet -->
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

</web-app>
